<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to t('static_pages.home.title'),   '#' %></li>
                <li><%= link_to t('static_pages.help.title'),   '#' %></li>
                <li><%= link_to t('static_pages.login.title'), '#' %></li>
            </ul>
        </nav>
    </div>
</header>